/*global*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font:normal 16px sans-serif;
	color:#555;
}

nav{
	list-style: none;
}

a{
	text-decoration: none;
	/*opacity: 0.75;*/
	color: #fff;
}

.btn{
	border-radius: 4px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	background-color: #fff;
	color: #000;
}

section{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
}

hr{
	width: 100%;
	height: 3px;
	background-color: #000;
	border: 0;
	margin-bottom: 50px;
}
/*header*/

header{
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #000;
	z-index: 10;
}

nav{	
	display: flex;
	margin-right: 50px;
	margin-top: 10px;
	
}

header h2{
	
	margin-left: 15px;
	margin-top: 15px;
	font-size: 36px;
}

header h2 span{
	color: #f92672;
}

header nav li{
	margin-right: 15px;
	margin-left: 45px;
	font-size: 24px;
}

@media (max-width: 400px){
	header{
		flex-direction: column;
	}
	nav{
		margin-left: 25px;
	}
	header nav li{
		font-size: 20px;
	}
	header h2{
	
		margin-left: -10px;
		font-size: 32px;
	}
}
@media (max-width: 700px){
	
	nav{
		margin-left: 25px;
	}
	header nav li{
		font-size: 20px;
	}
	header h2{
	
		/* margin-left: -10px; */
		font-size: 32px;
	}
}


/*hero*/

.hero{
	position: relative;
	display: flex;
	justify-content: center;
	text-align: left;
	min-height: 100vh;
	width: 100%;
	background-image: url("images/hero.jpg");
	background-size:cover;
	background-attachment: fixed;
	top: 0;
	z-index: 1;
}

/* .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("images/hero.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -1;
} */

.hero-content-area {
	align-self: flex-start;
	
}

.hero-content-area h3 {
	max-width: 400px;
	font-size: 20px;
	margin-bottom: 50px;

}


.hero-content-area h1{
	font-size: 76px;
	margin-bottom: 80px;
	/*color: #fff;*/
}

.hero-content-area h1 span.outer{
	color: #fff;
}

.hero-content-area h1 span.one{
	color: #f92672;
}

.hero-content-area h1 span.two{
	color: #a6e22e;
}

.hero-content-area h1 span.three{
	color: #e6db74;
}

.highlight{
	color: #fff;
	/*background-color: black;*/
	/*font-size: 24px;*/
	
}

.hero .hero-content-area a.btn{
	padding: 20px 46px 20px 46px;	
}

@media (max-width: 400px){
	.hero-content-area h1{
		font-size: 26px;
		width: 350px;
		margin-left: -70px;
		margin-top: 75px;
	}
	.hero{
		background-position-x: 400px;
		
	}
	.hero-content-area h3 {
		margin-left: -70px;
		
	}
}
@media (max-width: 700px){
	.hero-content-area h1{
		font-size: 26px;
		width: 350px;
		/* margin-left: -70px; */
		margin-top: 75px;
	}
	
}

/*work*/
.work{
    position: relative;
    
}
.layout{
	width: 100%;
	
}
.layout li{
	display: flex;
	flex-direction: row;
	justify-content: center;
	list-style: none;
}
img{
	width: 600px;
	height: 580px;
}

div.discription-container{
	margin-top: 80px;
	margin-left: 25px;

}

.discription-container h4{
font-size: 28px;
margin-bottom: 25px;
}

.discription-container p{
	margin-bottom: 25px;
}

.discription-container ul{
	display: flex;
	flex-direction: column;
	list-style: none;
	max-height: 150px;
	flex-wrap: wrap;

}

.discription-container li{
	align-self: flex-start;
	margin: 2px;
	color: #fff;
	background-color: #f92672;
	border-radius: 3px;
	padding: 5px;
}

@media(max-width:400px){
	.layout li{
		flex-direction: column;
		padding-bottom: 10px;
	}
	img{
		width: 300px;
		height: 280px;
		margin-left: 10px;
	}
	.discription-container ul{
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: center;
	}
	.work{
		align-items: flex-start;
		padding: 0 20px;
	}
	div.discription-container{
		margin-top: -20px;
		margin-left: 0px;
		text-align: center;
	}
}


/*contact*/

section.Contact{
	background-color: #333;

	
}

.Contact form{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: 400px;
	/*width: 900px;*/

}

.Contact form input.small{
	margin-bottom: 24px;
	font-size: 18px;
	color: #555;
	width: 100%;
	border-radius: 5px;
	border:0;
	outline: none;
	padding: 10px 20px;	
}



.Contact form textarea.large{
	width: 100%;
	resize: none;
	font-size: 18px;
	color: #555;
	border-radius: 5px;
	border:0;
	outline: none;
	padding: 10px 20px;
}

button.Contact-btn{
	align-self: flex-end;
	margin-top: 25px;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	outline: none;
	border-width: 1px;
	border-radius: 5px;
	border-color: #fff;
	padding: 10px 20px;
	background-color: transparent;
	transition: color 0.25s, background-color 0.25s;
}

button.Contact-btn:hover{
	
	/*animation: 0.25s fade 0s both;*/
	color: #000;
	background-color: #fff;
}


button.Contact-btn:active{
	box-shadow: 0px 0px 30px #000;
}

@media(max-width: 400px){
	.Contact form{
		width: 300px;
	}
}

/*footer*/

footer{
	background-color: #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px 80px;
}
footer p{
	color: #fff;
}

footer ul{
	display: flex;
	list-style: none;
	margin: 10px;
}

footer ul li{
	margin: 0px 10px;
}

footer ul li a{
	transition: color 0.25s;
}
footer ul li a:hover{
	color: #a6e22e;
}

/* yellow = #e6db74 green = #a6e22e pink = #f92672*/